# Type Conversion - Type Casting

In [1]:
a = 20          #int
b = 13.16     #float
c = 2 + 17j    #complex
d = "77"        #string

In [2]:
#converting float to int
print (int(b))

13

In [3]:
#converting int to float
print (float(a))

20.0

In [4]:
#converting int to complex
print (complex(a))

(20+0j)

In [5]:
#converting float to complex
print (complex(b))

(13.16+0j)

In [6]:
#converting to complex
print (complex(a, b))

(20+13.16j)

In [7]:
#converting string to int
str1 = "77"
d=int(str1)
print (type(d))

<class 'int'>

In [8]:
e=str(a)
e

'20'

In [9]:
#converting to bin 
print(bin(2))

0b10

In [10]:
#converting to hexadecimal 
print(hex(2))

0x2

In [11]:
#converting to Octal 
print(oct(2))

0o2

#### Implict type conversion

In [12]:
a=10
b=20.5
c=a+b
c

30.5

#### Taking Input from user

In [13]:
a = input("Whats Your Name : ")
print(a)
print(type(a))

Whats Your Name : Nitheesh
Nitheesh
<class 'str'>

In [14]:
b = input("Whats Your Age : ")
print(b)
print(type(b))

Whats Your Age : 25
25
<class 'str'>

In [15]:
b = int(input("Whats Your Age : "))
print(b)
print(type(b))

Whats Your Age : 25
25
<class 'int'>

### Using float( ) with Special parameters - Infinity, Nothing, NaN

#### We can use float( ) to represent infinity.

In [16]:
positive_inf=float('inf')
print("float('inf') = ",positive_inf,";Type-",type(positive_inf))

float('inf') =  inf ;Type- <class 'float'>

In [17]:
# For negative infinity, put minus in front of float
negative_inf=-float('inf')
print("negative_inf:",negative_inf)

negative_inf: -inf

In [18]:
# For negative infinity, put minus in front of inf
negative_inf=float('-inf')
print("negative_inf_1:",negative_inf)

negative_inf_1: -inf

#### Passing nothing to the float( ) method gives us its default value

In [19]:
val=float()
print("Default value of float()= ",val,";Type-",type(val))

Default value of float()=  0.0 ;Type- <class 'float'>

#### NaN, the function returns nan with the type float.

In [20]:
val2=float('NaN')
print("float('NaN')= ",val2,";Type-",type(val))

float('NaN')=  nan ;Type- <class 'float'>

&copy; **Nitheesh Reddy**